node_modules/
*.sw*
bin/cucumber
bin/dotenv
bin/htmldiff
bin/ldiff
bin/rspec
bin/sequel
vendor/
audit.log
Providers-clean.tsv
.bundle/

coverage/
doc/

.yardoc
.inch

table.yaml
bin/ruby-prof
bin/ruby-prof-check-trace
*.class
Rakefile.lock
